version: 2.1
orbs:
  microscanner: aquasecurity/microscanner@0.1.6
jobs:
  docker-build:
    executor: microscanner/default
    steps:
      - checkout
      - run: 'docker build --build-arg $AQUA_TOKEN -t suhimanju89/aqua-dockerfile-circleci:v0.1 .'
workflows:
  scan-image:
    jobs:
      - docker-build
      - run: |
         echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKER_USER --password-stdin
      - microscanner/scan-image:
          requires:
            - docker-build
          image: suhimanju89/aqua-dockerfile-circleci:v0.1
