version: 2.1
orbs:
  microscanner: aquasecurity/microscanner@0.1.6
jobs:
  docker-build:
    executor: microscanner/default
    steps:
      - checkout
      - run: 'docker build -t suhimanju89/aqua-dockerfile-circleci:v0.2 .'
workflows:
  scan-image:
    jobs:
      - docker-build
      - microscanner/scan-image:
          requires:
            - docker-build
          image: suhimanju89/aqua-dockerfile-circleci:v0.1
